<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.schoolhr.mapper.SalaryMapper">
    <insert id="insert">

    </insert>
    <insert id="insertSelective"></insert>
    <update id="updateByPrimaryKeySelective"></update>
    <update id="updateByPrimaryKey"></update>
    <delete id="deleteByPrimaryKey"></delete>
    <select id="selectByPrimaryKey" resultType="com.schoolhr.model.Salary"></select>
    <select id="getAllSalaries" resultType="com.schoolhr.model.Salary">
        Select * from salary
    </select>
    <select id="getIDSalaries" resultType="com.schoolhr.model.Salary">
        Select * from salary where userID=#{userID}
    </select>

</mapper>